//! **************************************************************************
// Written by: Map P.20131013 on Sat Aug 05 17:30:31 2023
//! **************************************************************************

SCHEMATIC START;
COMP "ooutput<2>" LOCATE = SITE "P66" LEVEL 1;
COMP "ooutput<3>" LOCATE = SITE "P62" LEVEL 1;
COMP "ooutput<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "ooutput<5>" LOCATE = SITE "P50" LEVEL 1;
COMP "ooutput<6>" LOCATE = SITE "P47" LEVEL 1;
COMP "ooutput<7>" LOCATE = SITE "P45" LEVEL 1;
COMP "iS0" LOCATE = SITE "P67" LEVEL 1;
COMP "iS1" LOCATE = SITE "P64" LEVEL 1;
COMP "remainder<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "remainder<1>" LOCATE = SITE "P23" LEVEL 1;
COMP "remainder<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "iA0" LOCATE = SITE "P57" LEVEL 1;
COMP "iA1" LOCATE = SITE "P48" LEVEL 1;
COMP "iA2" LOCATE = SITE "P46" LEVEL 1;
COMP "iB0" LOCATE = SITE "P33" LEVEL 1;
COMP "iA3" LOCATE = SITE "P44" LEVEL 1;
COMP "iB1" LOCATE = SITE "P30" LEVEL 1;
COMP "iB2" LOCATE = SITE "P27" LEVEL 1;
COMP "ooutput<0>" LOCATE = SITE "P74" LEVEL 1;
COMP "iB3" LOCATE = SITE "P24" LEVEL 1;
COMP "ooutput<1>" LOCATE = SITE "P69" LEVEL 1;
SCHEMATIC END;

