NET "iB0" LOC = "P33";
NET "iB1" LOC = "P30";
NET "iB2" LOC = "P27";
NET "iB3" LOC = "P24";
NET "iA0" LOC = "P57";
NET "iA1" LOC = "P48";
NET "iA2" LOC = "P46";
NET "iA3" LOC = "P44";
NET "iS1" LOC = "P64";
NET "iS0" LOC = "P67";
NET "ooutput(0)" LOC = "P74";
NET "ooutput(1)" LOC = "P69";
NET "ooutput(2)" LOC = "P66";
NET "ooutput(3)" LOC = "P62";
NET "ooutput(4)" LOC = "P58";
NET "ooutput(5)" LOC = "P50";
NET "ooutput(6)" LOC = "P47";
NET "ooutput(7)" LOC = "P45";
NET "remainder(0)" LOC = "P26";
NET "remainder(1)" LOC = "P23";
NET "remainder(2)" LOC = "P21";